<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<section class="intro-single">
    <div class="container">
        <a class="btn btn-primary" th:href="@{/properties/add}" role="button">Add property</a>
        <a class="btn btn-primary" th:href="@{/amenities/add}" role="button">Add amenities</a>
    </div>
</section>

<div th:replace="fragments/footer::footer"></div>


</body>
</html>