<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<section class="intro-single">
    <div class="container">
        <a class="btn btn-primary" th:href="@{/properties/add}" role="button">Add property</a>
        <a class="btn btn-primary" th:href="@{/properties/all}" role="button">Manage properties</a>
        <a class="btn btn-primary" th:href="@{/amenities/add}" role="button">Manage amenities</a>
        <a class="btn btn-primary" th:href="@{/users/all}" role="button">Manage users</a>
        <a class="btn btn-primary" th:href="@{/message/all}" role="button">Manage messages</a>
    </div>
</section>

<div th:replace="fragments/footer::footer"></div>


</body>
</html>