<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
<!--    <div th:replace="fragments/admin-sidenav :: admin-sidenav">-->
<!--        Admin Sidenav-->
<!--    </div>-->
    <h2 class="text-center text-black">A page for admins</h2>
    <br>
    <a class="btn btn-primary" th:href="@{/properties/add}" role="button">Add property</a>
</div>

<div>
    <footer></footer>
</div>


</body>
</html>