<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <!--    <h2 class="text-center text-black">A page for all users</h2>-->
    <br>
    <br>
    <br>
    <img src="/img/tu-new.png" alt="">
    <h2 class="text-center text-black">Properties</h2>
    <div class="row property-list" th:each="p : ${allProperties}" th:object="${p}">
        <div class="col col-8">
            <div>
                <h3 th:text="*{title} + ', ' + *{location}">Property Name</h3>
                <img th:src="@{'/uploads/' + *{mainImage}}" alt="" width="150">
            </div>
        </div>
        <div class="col col-4">
            <h3 th:text="'€' + *{price}">Property Price</h3>
            <a class="btn btn-primary" th:href="@{/properties/{slug}(slug = *{slug})}" role="button">Details</a>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>