<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <!--    <h2 class="text-center text-black">A page for all users</h2>-->
    <br>
    <br>
    <br>
    <img src="/img/tu-new.png" alt="">
    <h2 class="text-center text-black">Properties</h2>
    <div th:each="p : ${allProperties}" th:object="${p}">
        <h3 th:text="*{title}">Property Name</h3>
        <div>
            <th th:each="i : ${p.images}" th:object="${i}">
                <img th:src="@{'/uploads/' + *{imageUrl}}" alt="" width="150">
            </th>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>