<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head" th:include="fragments/head::listing-css"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <!--    <div th:replace="fragments/admin-sidenav :: admin-sidenav">-->
    <!--        Admin Sidenav-->
    <!--    </div>-->
    <!--    <h2 class="text-center text-black">A page for all users</h2>-->
    <h2 class="text-center text-black">Properties</h2>
    <!--    <div class="row property-list" th:each="p : ${allProperties}" th:object="${p}">-->
    <!--        <div class="col col-8">-->
    <!--            <div>-->
    <!--                <h3 th:text="*{title} + ', ' + *{location}">Property Name</h3>-->
    <!--                <img th:src="@{'/files/' + *{mainImage}}" alt="" width="150">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col col-4">-->
    <!--            <h3 th:text="'€' + *{price}">Property Price</h3>-->
    <!--            <a class="btn btn-primary" th:href="@{/properties/{slug}(slug = *{slug})}" role="button">Details</a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <div class="col-xs-12 col-md-6"
         th:each="p : ${allProperties}"
         th:object="${p}">
        <!-- First product box start here-->
        <div class="prod-info-main prod-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="product-image">
                        <img th:src="@{'/files/' + *{mainImage}}" class="img-responsive">
<!--                        <span class="tag2 hot">-->
<!--							HOT-->
<!--						</span>-->
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-deatil">
                        <h5 class="name">
                            <a th:text="*{title} + ', ' + *{location}" th:href="@{/properties/{slug}(slug = *{slug})}">
                                Product Code/Name here
                            </a>
                            <a href="#">
                                <span>Product Category</span>
                            </a>

                        </h5>
                        <p class="price-container">
                            <span th:text="'€' + *{price}">PRICE</span>
                        </p>
                        <span class="tag1"></span>
                    </div>
                    <div class="description">
                        <p style="max-width: 75ch;" th:text="*{description}">A Short product description here </p>
                    </div>
                    <div class="product-info smart-form">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="javascript:void(0);" class="btn btn-danger">Add to favorites</a>
                                <a th:href="@{/properties/{slug}(slug = *{slug})}" class="btn btn-info">More info</a>
                            </div>
<!--                            <div class="col-md-12">-->
<!--                                <div class="rating">Rating:-->
<!--                                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>-->
<!--                                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>-->
<!--                                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>-->
<!--                                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>-->
<!--                                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
    </div>

</div>

<div>
    <footer></footer>
</div>
</body>
</html>