<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar::search"></div>

<nav th:replace="fragments/navbar::navbar"></nav>

<section class="intro-single">
    <div class="container">
        <!--<div th:replace="fragments/admin-sidenav :: admin-sidenav">-->
        <!--    Admin Sidenav-->
        <!--</div>-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Amenity</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${amenities}" th:object="${a}">
                <td th:text="*{description}"></td>
                <td>
                    <a class="btn btn-info" th:href="@{/amenities/edit/{id}(id = *{id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/amenities/delete/{id}(id = *{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <form
                th:action="${toEdit==null} ? @{/amenities/add} : @{/amenities/edit/{id}(id = ${id})}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
                enctype="multipart/form-data"
                method="post">

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="description" class="text-white font-weight-bold">Description</label>
                    <input id="description"
                           name="description"
                           type="textarea" min="1" max="20" class="form-control"
                           placeholder="Description"
                           th:value="${toEdit}!=null ? ${toEdit} : ''"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" th:value="${toEdit} != null ? 'Edit amenity' : 'Add amenity'"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>