<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar::search"></div>

<nav th:replace="fragments/navbar::navbar"></nav>

<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        <div th:each="p : ${threeRandomProperties}" th:object="${p}" class="carousel-item-a intro-item bg-image" th:style="|background-image:url(@{'/files/' + *{mainImage}})|">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p th:text="*{location}" class="intro-title-top">Doral, Florida
                                        <br> 78345</p>
                                    <h1 th:text="*{title}" class="intro-title mb-4">
<!--                                        <span class="color-b">204 </span>-->
<!--                                        Mount-->
<!--                                        <br> Olive Road Two-->
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a th:href="@{/properties/{slug}(slug = *{slug})}"><span th:text="'€'+ *{price}" class="price-a">rent | $ 12.000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Carousel end /-->

<!--/ Services Star /-->
<section class="section-services section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a" th:text="#{our_services}">Our Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-language"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" th:text="#{service_translations_title}">Translations</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" th:text="#{service_translations_text}">
                            Our team can translate any document from English, Russian, German and prepare
                            them for the notary for a fast and easy deal.
                        </p>
                    </div>
<!--                    <div class="card-footer-c">-->
<!--                        <a href="#" class="link-c link-icon">Read more-->
<!--                            <span class="ion-ios-arrow-forward"></span>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-bed"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" th:text="#{service_rent_title}">Rent</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" th:text="#{service_rent_text}">
                            You can rent an apartment easy and fast from us to make your vacation pleasant.
                        </p>
                    </div>
<!--                    <div class="card-footer-c">-->
<!--                        <a href="#" class="link-c link-icon">Read more-->
<!--                            <span class="ion-ios-arrow-forward"></span>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-c foo">
                    <div class="card-header-c d-flex">
                        <div class="card-box-ico">
                            <span class="fa fa-home"></span>
                        </div>
                        <div class="card-title-c align-self-center">
                            <h2 class="title-c" th:text="#{service_sell_title}">Sell</h2>
                        </div>
                    </div>
                    <div class="card-body-c">
                        <p class="content-c" th:text="#{service_sell_text}">
                            If you want an apartment near the sea for a good price, we
                            can give you the best offers!
                        </p>
                    </div>
<!--                    <div class="card-footer-c">-->
<!--                        <a href="#" class="link-c link-icon">Read more-->
<!--                            <span class="ion-ios-arrow-forward"></span>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Services End /-->

<div th:replace="fragments/footer::footer"></div>

</body>
</html>
