<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar::search"></div>

<nav th:replace="fragments/navbar::navbar"></nav>

<!--/ Intro Single star /-->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Our Amazing Properties</h1>
          <span class="color-text-a">Grid Properties</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Properties Grid
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Grid Star /-->
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!--          <div class="grid-option">-->
        <!--            <form>-->
        <!--              <select class="custom-select">-->
        <!--                <option selected>All</option>-->
        <!--                <option value="1">New to Old</option>-->
        <!--                <option value="2">For Rent</option>-->
        <!--                <option value="3">For Sale</option>-->
        <!--              </select>-->
        <!--            </form>-->
        <!--          </div>-->
      </div>
      <div th:each="p : ${properties}" th:object="${p}" class="col-md-4">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img th:src="'/files/' + *{mainImage}" alt="" class="img-a img-fluid" style="height: 500px;">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a th:text="*{title}" href="#">204 Mount</a>
                    <!--                      <br /> Olive Road Two</a>-->
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span th:text="'€' + *{price}" class="price-a">rent | $ 12.000</span>
                </div>
                <a th:href="@{/properties/{slug}(slug = *{slug})}" class="link-a">Click here to view
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span th:text="*{area} + 'm'"></span>
                    <sup class="text-white">2</sup>
                  </li>
                  <li>
                    <h4 class="card-info-title">Floor</h4>
                    <span th:text="*{floor}"></span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baths</h4>
                    <span th:text="*{baths}"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav class="pagination-a">
          <ul class="pagination justify-content-end">
            <li class="page-item" th:classappend="${properties.hasPrevious() ? '' : 'disabled'}">
              <a th:if="${properties.hasPrevious()}" th:href="@{/properties(page=${properties.getNumber() - 1})}" class="page-link" href="#" tabindex="-1">
                <span class="ion-ios-arrow-back"></span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item next" th:classappend="${properties.hasNext() ? '' : 'disabled'}">
              <a th:if="${properties.hasNext()}" th:href="@{/properties(page=${properties.getNumber() + 1})}" class="page-link" href="#">
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!--/ Property Grid End /-->

<div th:replace="fragments/footer::footer"></div>

</body>
</html>
