<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <br>
    <br>
    <h3 th:text="${property.title}"></h3>
    <h3 th:text="${property.price}"></h3>
    <div th:each="i : ${property.images}" th:object="${i}">
        <img th:src="@{'/files/' + *{imageUrl}}" alt="" width="150">
    </div>
</div>

<div>
    <footer></footer>
</div>


</body>
</html>