<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="fragments/navbar::search"></div>

<nav th:replace="fragments/navbar::navbar"></nav>

<section class="intro-single">
    <div class="container">
        <!--<div th:replace="fragments/admin-sidenav :: admin-sidenav">-->
        <!--    Admin Sidenav-->
        <!--</div>-->
        <h2 class="text-center text-white">Add Property</h2>
        <form
                th:action="${toEdit==null} ? @{/properties/add} : @{/properties/edit/{slug}(slug = ${slug})}"
                th:method="post"
                th:object="${propertyAddDTO}"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
                enctype="multipart/form-data">
            <div class="row">
                <div class="form-group w-100">
                    <label for="title" class="text-white font-weight-bold">Title</label>
                    <input
                            id="title"
                            name="title"
                            type="text"
                            class="form-control"
                            placeholder="Title"
                            th:value="${toEdit}!=null ? ${toEdit.title} : ''"/>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="area" class="text-white font-weight-bold">Area</label>
                    <input id="area"
                           name="area"
                           type="number" min="1" class="form-control" step="0.01"
                           placeholder="Area"
                           th:value="${toEdit}!=null ? ${toEdit.area} : ''"/>
                </div>
                <div th:if="${toEdit==null}" class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold" for="images">Images</label>
                    <input
                            id="images"
                            name="images"
                            type="file"
                            class="form-control"
                            placeholder="Images"
                            multiple="multiple"
                            accept="image/png, image/gif, image/jpeg"
                            th:value="${toEdit}!=null ? ${toEdit.images} : ''"
                    />
                    <p class="invalid-feedback errors alert alert-danger">
                        Property image is required.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="price" class="text-white font-weight-bold">Price</label>
                    <input id="price"
                           name="price"
                           type="number" min="1" class="form-control" step="0.01"
                           placeholder="Price"
                           th:value="${toEdit}!=null ? ${toEdit.price} : ''"/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="location" class="text-white font-weight-bold">Location</label>
                    <input id="location"
                           name="location"
                           type="text" min="1" max="20" class="form-control"
                           placeholder="Location"
                           th:value="${toEdit}!=null ? ${toEdit.location} : ''"/>
                    <!--                <p class="invalid-feedback errors alert alert-danger">-->
                    <!--                    Confirmation password is required.-->
                    <!--                </p>-->
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="status" class="text-white font-weight-bold">Status</label>
                    <select id="status" name="status"
                            class="custom-select custom-select-lg mb-3 w-100">
                        <option value="" selected>Status</option>
                        <option th:each="s : ${T(com.kalinkrumov.calypso_estates.model.enums.StatusEnum).values()}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${toEdit} != null ? '' + ${toEdit.status} == '' + ${s} : false"></option>
                    </select>
                </div>
                <div class="form-group col-md-6 mb-3 w-100" style="border: 2px solid #ccc; overflow-y: scroll;">
                    <th:block th:each="a : ${amenities}">
                        <input type="checkbox" name="amenities" th:value="${a.id}"
                               th:checked="${toEdit} != null ? ${#lists.contains('' + toEdit.amenities, '' + a)} : false">
                        <label style="width: 90%" th:text="${a.description}"></label>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="floor" class="text-white font-weight-bold">Floor</label>
                    <input id="floor"
                           name="floor"
                           type="number" class="form-control" step="1"
                           placeholder="Floor"
                           th:value="${toEdit}!=null ? ${toEdit.floor} : ''"/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="baths" class="text-white font-weight-bold">Baths</label>
                    <input id="baths"
                           name="baths"
                           type="number" class="form-control" step="1"
                           placeholder="Baths"
                           th:value="${toEdit}!=null ? ${toEdit.baths} : ''"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="description" class="text-white font-weight-bold">Description</label>
                    <textarea id="description"
                              name="description"
                              th:rows="5"
                              th:cols="50"
                              min="1" max="20" class="form-control"
                              placeholder="Description">[[${toEdit}!=null ? ${toEdit.description} : '']]</textarea>
                </div>
            </div>

            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" id="active" name="active"
                       th:checked="${toEdit} != null ? ${toEdit.active} : 'false'"/>
                <label class="custom-control-label" for="active">Active</label>
            </div>

            <input id="mainImage"
                   name="mainImage"
                   type="hidden" class="form-control"
                   placeholder="MainImage"
                   th:value="${toEdit} != null ? ${toEdit.mainImage} : ''"/>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input onclick="setMainImage()" type="submit" class="btn btn-info btn-lg" value="Add property"/>
                    </div>
                </div>
            </div>


        </form>
        <!--    <img class="mx-auto col-md-8 d-flex flex-column justify-content-center"-->
        <!--         id="blah" src="/img/no-image-icon.png" alt="your image" width="150" />-->
    </div>

    <th:block th:if="${toEdit} == null">
        <div class="container">
            <h2 style="text-align: center">Choose a thumbnail</h2>
            <div id="myCarousel"
                 class="carousel slide w-50 h-auto"
                 data-ride="carousel"
                 data-interval="false"
                 style="background-color: black; margin-left: auto; margin-right: auto">
                <!-- Indicators -->
                <ol id="carousel-indicators" class="carousel-indicators"></ol>

                <!-- Wrapper for slides -->
                <div id="carousel-inner" class="carousel-inner">
                    <!--todo: image edit-->
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </th:block>

</section>

<div th:replace="fragments/footer::footer"></div>

</body>
<script>
    images.onchange = evt => {

        const toDeleteIndicators = document.getElementById("carousel-indicators");
        toDeleteIndicators.innerHTML = "";
        const toDeleteImages = document.getElementById("carousel-inner");
        toDeleteImages.innerHTML = "";

        const files = images.files;
        if (files) {
            let count = 0;
            for (const file of files) {
                const div = document.createElement("div");
                div.id = "img-div-" + count;
                if (count === 0) {
                    div.className = "carousel-item active";
                } else {
                    div.className = "carousel-item";
                }
                div.setAttribute("image-name", "" + file.name);
                document.getElementById("carousel-inner").appendChild(div);

                const image = document.createElement("img");
                image.src = URL.createObjectURL(file);
                image.setAttribute("height", "300px");
                image.style.display = "block";
                image.style.marginLeft = "auto";
                image.style.marginRight = "auto";
                document.getElementById("img-div-" + count).appendChild(image);

                const point = document.createElement("li");
                point.setAttribute("data-target", "#myCarousel");
                point.setAttribute("data-slide-to", "" + count);
                if (count === 0) {
                    point.setAttribute("class", "active");
                }
                document.getElementById("carousel-indicators").appendChild(point);
                count++;
            }
            $('.carousel').carousel()
        }
    }

    function setMainImage() {
        let image = $('.carousel-item.active').attr('image-name');
        $("#mainImage").val(image);
    }
</script>
</html>